@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #fff;
  --background-color: #000;
  --secondary-color: #e50914;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--primary-color);
  font-size: 16px;
}
.media_element{
  border-radius: 0.25rem;
}
a.active {
  border-bottom: 1px solid var(--secondary-color);
  transition: .5s;
}

.media_element > img {
  width: 100%;
  aspect-ratio: 16/ 9;
  object-fit: cover; 
  object-position: bottom;
  cursor: pointer;
}

.myBtn {
  min-block-size: 45px;
  min-inline-size: 120px;
}
.search_input{
  background: none;
  border: 1px solid #fff
  
}

 /* Links */
 a {
  display: block;
 }
 .brand_color{
  color: var(--secondary-color);
 }
 h1{
  font-size: 2rem;
 }

 h2{
  font-size: 1.8rem;
 }
 h1,h2{
  color: var(--secondary-color);
  font-weight: 700px;
 }
 .h1{
  font-weight: 800;
  font-size: 1.5rem;
 }
 button, .button{
    background-color: var(--secondary-color);
    border-radius: 5px;
  }
  .small {
    font-size: .75rem;
  }
  .movie_link:hover{
    text-decoration: underline;
  }
  button:hover{
    opacity: .9;
  }

 .movie_title{
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
 }
 @media only screen and (max-width: 768px) {
  .movie_title{
    font-size: 2.5rem;
  }
 }
 .more_info_title {
  color: var(--primary-color);
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 800;
 }

 .more_info_title_contiainer {
  position: relative;
  top: 50%;
 }
 @media screen and (max-width: 768px) {
  .more_info_title {
    font-size: 2rem;
  }
  .more_info_title_contiainer {
    position: relative;
    top: 40%;
   }
}
 .details_overview{
  position: relative;
  top: 10%;
 }